version: 2.1

jobs:
  test:
    docker:
      - image: amazon/aws-cli
        auth:
          username: $DOCKERHUB_USER
          password: $DOCKERHUB_PASSWORD
    steps:
      - run:
          name: test
          command: aws --version
      - run:
          name: sts get caller identity
          command: aws sts get-caller-identity
      - run:
          name: issue
          command: cat /etc/issue

workflows:
  version: 2
  build:
    jobs:
      - test:
          context:
            - docker_config
            - ffxiv-item-name-database
